* {
    box-sizing: border-box;
    text-align: center;
}



header {
    padding: 20px;
    margin-bottom: 20px;
    background: lightgrey;
}

#nav {
    padding: 20px;
    margin-bottom: 20px;
    background: lightgray;
}

#section {
    padding: 20px;
    margin-bottom: 20px;
    background: lightgray;
}

#aside {
    padding: 20px;
    margin-bottom: 20px;
    background: lightgray;
}

footer {
    padding: 20px;
    margin-bottom: 20px;
    background: lightgray;
}